<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Jeff Marlow</string>
	<key>Builder Version</key>
	<string>12602.4.8</string>
	<key>CFBundleDisplayName</key>
	<string>FollowToy</string>
	<key>CFBundleIdentifier</key>
	<string>com.joltguy.followtoy</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1</string>
	<key>CFBundleVersion</key>
	<string>1.1</string>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>followtoy.js</string>
			</array>
		</dict>
		<key>Stylesheets</key>
		<array>
			<string>followtoy.css</string>
		</array>
	</dict>
	<key>Description</key>
	<string>Lets you quickly see who is (and who isn't) following you back on Instagram.</string>
	<key>DeveloperIdentifier</key>
	<string>J5NF9S58EH</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>*.instagram.com</string>
			</array>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>http://joltguy.com/followtoy/followtoy-updates.plist</string>
	<key>Website</key>
	<string>http://joltguy.com/followtoy</string>
</dict>
</plist>
